  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">Express</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter Data
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/filter/alldata">All Data</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/filter/data1">Data 1</a></li>
              <li><a class="dropdown-item" href="/filter/data2">Data 2</a></li>
              <li><a class="dropdown-item" href="/filter/data3">Data 3</a></li>
              <li><a class="dropdown-item" href="/filter/data4">Data 4</a></li>
              <li><a class="dropdown-item" href="/filter/data5">Data 5</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>