<%- include('layouts/header.ejs') %> 
<%- include('layouts/nav.ejs') %> 

  <div class="container pt-5">
    <h1 class="text-center my-5">List Data User</h1>

    <div class="mb-3">
      <form class="d-flex" action="/data">
        <select class="form-select w-25 me-3" name="category">
          <option selected disabled>Search category</option>
          <option value="gender">Gender</option>
          <option value="age">Age</option>
          <option value="company">Company</option>
          <option value="eyeColor">Eye color</option>
          <option value="favoriteFruit">Favorite Fruit</option>
        </select>
        <input class="form-control me-2" type="text" placeholder="Input keyword ..." name="key" required>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-center table-primary">
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Company</th>
          <th scope="col">Eye Color</th>
          <th scope="col">Favorite Fruit</th>
          <th scope="col">Registered</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% if (dataOutput.message === 'data tidak ada / tidak ditemukan' || dataOutput.length < 1) { %>
          <tr>
            <td colspan="9">
              <h3 class="text-center text-danger my-5">Maaf, data yang kamu cari tidak ada nih 😀</h3>
            </td>
          </tr>
        <%} else { %>
          <% i = 1 %> 
          <% dataOutput.forEach(data => { %>
            <tr>
              <td class="text-center"><%= i++ %> </td>
              <td><%= data.name %></td>
              <td class="text-center"><%= data.age %></td>
              <td><%= data.gender %></td>
              <td><%= data.company %></td>
              <td><%= data.eyeColor %></td>
              <td><%= data.favoriteFruit %></td>
              <td>
                <% let newDate=new Date(data.registered).toLocaleDateString(); %>
                <%= newDate %>
              </td>
              <td>
                <% if (data.isActive) { %>
                  Active
                <% } else { %>
                  Non Active
                <% } %>
              </td>
            </tr>
          <% }) %>
        <% } %>
        <% if (dataOutput.length > 0) { %> 
          <tr>
            <td colspan="9" class="text-center">
              Jumlah data yang ditemukan : <%= dataOutput.length %> 
            </td>
          </tr>
        <% } %> 
      </tbody>
    </table>

    <div class="mt-5">
      <h6>Filters by:</h6>
      <p><%- note %></p>
    </div>
  </div>

<%- include('layouts/footer.ejs')  %> 