<%- include('layouts/header.ejs') %>
<%- include('layouts/nav.ejs') %> 

  <div class="container pt-5">
    <h1 class="mt-3">Hellow FSW4!</h1>
    <p>This is homepage :D</p>
  </div>
  

<%- include('layouts/footer.ejs') %> 